@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap');


footer{
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
}

.footer-flex-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-inline: auto;
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo-footer h3, .logo-footer p{
   font-family: poppins;
}

.logo-footer-image{
    width: 100px;
}

.logo-footer-image img{
    width: 100%;
}

.footer-flex2, .footer-flex4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-flex3{
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 35px;
}

.house-address{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.home-icon, .clock-icon, .envelope-icon, .phone-icon{
    font-size: 40px;
    color: rgb(65, 196, 106);
}

.envelope, .phone{
    display: flex;
    gap: 20px;
    color: rgb(65, 196, 106);
}


.footer-hr{
    width: 100%;
    color: rgba(255, 255, 255, 0.322);
   
}

.footer-links{
    display: flex;
    gap: 80px;
    width: 90%;
    margin-inline: auto;
}

.footerlinks{
    display: flex;
    gap: 40px;
    list-style: none;
    padding-block: 20px;
    align-items: center;
}
.footerlinks a{
    text-decoration: underline;
    color: white;
    font-weight: 400;
}
.footerlinks a:hover{
    color: rgb(104, 171, 124);
    transition: all 0.3s ease-in-out;
}
.footerlinks .home a{
    color: rgb(65, 196, 106);
}
.footerlinks .home a:hover{
    color: rgb(104, 171, 124);
    transition: all 0.3s ease-in-out;
}

.socials{
    display: flex;
    align-items: center;
    gap: 40px;
}

.fb-icon{
    font-size: 20px;
}
.insta-icon{
    font-size: 28px;
}

.fb-icon:hover, .insta-icon:hover{
    color: rgb(104, 171, 124);
    transition: all 0.3s ease-in-out;
}