*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.easy-steps{
    margin-block:50px;
}
.steps{
    font-family: 'poppins';
    color:rgb(0, 0, 0);
    font-size:16px;
    text-align: center;
    font-weight: 600;
}
.easy-steps .detail{
   font-size:56px;
   text-align: center;
   font-family: "Philosopher";
   font-weight: 700;
   margin-top:30px;

}
.number{
    color:rgb(65, 196, 106);
    font-size: 24px;
    font-family: "Philosopher";
}
.processes{
    display: flex;
    padding-inline:50px;
    margin-block:70px;
    gap:45px;
}
.process1,.process2,.process3,.process4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.processes h2{
    text-align: center;
    font-size: 24px;
    color:rgb(0, 0, 0);
    font-family: "Philosopher";
}
.process-detail{
    text-align: center;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
}
@media (max-width:769px)
{
    .processes{
        flex:grid;
        grid-template-columns:1fr 1fr;
    }

}